<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SPOAccount" value="shuvodip@pphackathonteam5.onmicrosoft.com" />
    <add key="SPOPassword" value="Password1" />
    <add key="SPOList" value="Employee Database" />
    <add key="SPOSite" value="https://pphackathonteam5.sharepoint.com/sites/Shuvodip" />
    <add key="SPOAdminSite" value="https://pphackathonteam5-admin.sharepoint.com/" />
  </appSettings>
</configuration>